{% extends '@EasyAdmin/page/content.html.twig' %} 


{% block page_content %}

  
       {{ form_start(form, {'attr': {'id': form.vars.id}}  ) }}

    <div class="row" id="title_pers_masotech">
    <div class="col">
    <h3> Prepara inserimento ore per Azienda/Mese</caption>
    <h4> Note importanti:</h4>
    <h5> Prima di eseguire la preparazione della mensilità occorre essere certi di aver inserito tutto il personale e tutti i cantieri.</h5>
    <h5> Il personale deve essere in forza anche nel caso sia stato licenziato nel mese selezionato, avendo cura di avere inserito la data 
       di licenziamento, pertanto il personale licenziato può essere impostato come dismesso il mese successivo alla data di licenziamento.</h5>
    
    </div>
        <aside>
           <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> {{ 'Esegui Preparazione' }}
           </button>
        </aside>
    </div>
        <div class="form-error">
            {{ form_errors(form) }}
       </div>
    <div class="row">
        <div class="col">
            {{ form_label(form.azienda) }}
        </div>
        <div class="col" >
            {{ form_label(form.festivitaAnnuale) }}
        </div>
        <div class="col" >
            {{ form_label(form.mese) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_widget(form.azienda) }}
        </div>
        <div class="col" >
            {{ form_widget(form.festivitaAnnuale) }}
        </div>
        <div class="col" >
            {{ form_widget(form.mese) }}
        </div>
    </div> 
    {{ form_end(form) }}



{% endblock %}

 
