{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block page_content %}
    <h4>{{ page_title }}</h4>
    <head>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

   
    google.charts.load('current', {'packages':['gantt']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
   
      var array = document.getElementById('gant').value;
      var datavalue = JSON.parse(array);

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Task ID');
      data.addColumn('string', 'Task Name');
      data.addColumn('string', 'Resource');
      data.addColumn('date', 'Start Date');
      data.addColumn('date', 'End Date');
      data.addColumn('number', 'Duration');
      data.addColumn('number', 'Percent Complete');
      data.addColumn('string', 'Dependencies');

      for (i = 0; i < datavalue.length; i++) {
            var d_start_y = parseInt(datavalue[i].StartDate.substring(0, 4));
            var d_start_m = parseInt(datavalue[i].StartDate.substring(4, 6));
            var d_start_d = parseInt(datavalue[i].StartDate.substring(6, 8));

            var d_end_y = parseInt(datavalue[i].EndDate.substring(0, 4));
            var d_end_m = parseInt(datavalue[i].EndDate.substring(4, 6));
            var d_end_d = parseInt(datavalue[i].EndDate.substring(6, 8));
            var arrayData = [datavalue[i].TaskID, datavalue[i].TaskName, datavalue[i].Resource, new Date(d_start_y, d_start_m, d_start_d), new Date(d_end_y, d_end_m, d_end_d), datavalue[i].Duration, datavalue[i].PercentComplete, datavalue[i].Dependencies];
            data.addRows([arrayData]);
           };

// new Date(d_start_y, d_start_m, d_start_d), new Date(d_end_m, d_end_d, d_end_y),
//   var d_start_y = parseInt(datavalue[i].StartDate.substring(0, 4));
// var d_start_m = parseInt(datavalue[i].StartDate.substring(5, 6));
//  var d_start_d = parseInt(datavalue[i].StartDate.substring(7, 8));

      var options = {
        height: 400,
        gantt: {
          trackHeight: 30
        }
      };

      var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

      chart.draw(data, options);

    }
  </script>

     {#  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> #}
      <script type="text/javascript">
   
       
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
  
        function drawChart() {

        var array = document.getElementById('array').value;
        var datavalue = JSON.parse(array);

        for (i = 0; i < datavalue.length; i++) {
               // data.addRows(datavalue[i].Year, datavalue[i].Sales, datavalue[i].Expenses);
                 console.log(datavalue[i].Year);
                 console.log(datavalue[i].Sales);
                 console.log(datavalue[i].Expenses);
          };

      

        var data = new google.visualization.DataTable();
            data.addColumn('string', 'Year');
            data.addColumn('number', 'Sales');
            data.addColumn('number', 'Expenses');

            
            for (i = 0; i < datavalue.length; i++) {
            var arrayData = [datavalue[i].Year, datavalue[i].Sales, datavalue[i].Expenses];
            data.addRows([arrayData]);
           };

       
          var options = {
            title: 'Company Performance versione da ExmpleChartController',
            hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
            vAxis: {minValue: 0}
          };
  
          var chart = new google.visualization.AreaChart(document.getElementById('chart_div1'));
          chart.draw(data, options);
        }
      </script>
    </head>

    <body>
      <input type="hidden" id="array" value="{{ arrayphp|json_encode }}">
      <input type="hidden" id="gant" value="{{ gant_chart|json_encode }}">
      <div>   <h6> {{ gant_chart|json_encode }} </h6>   </div>
      <div id="chart_div" > </div>
      <div>   <h6> {{ arrayphp|json_encode }} </h6>   </div>
      <div id="chart_div1" style="width: 100%; height: 500px;"></div>
    </body>

{% endblock %}


