{% extends '@email/default/notification/body.html.twig' %}
{% block content %}
    Autore: {{ comment.author }}<br />
    Email: {{ comment.email }}<br /><br />
    Stato logico: {{ comment.state }}     (Legenda: ham= da convalidare)<br />
    <br />
    <p>
        {{ comment.textComment }}
    </p>
    {% if comment.photoFilename %}
    <p>
    <img src="{{ asset('uploads/photos/' ~ comment.photoFilename  ) }}" class="thumbnail">
    </p>
    {% endif %}
{% endblock %}
{% block action %}
    <spacer size="16"></spacer>
    <button href="{{ url('review_comment', { id: comment.id }) }}">Accetta</button>
    <button href="{{ url('review_comment', { id: comment.id, reject: true }) }}">Rifiuta</button>
{% endblock %}