{% extends 'base.html.twig' %}
{% block title %}Cantiere - {{ cantieri }}{% endblock %}
{% block body %}
    <h2>{{ cantieri }} </h2>
    {% if commenti|length > 0 %}
        <div>Ci sono {{ commenti|length}} commenti. </div>
        {% for commento in commenti %}
{% if commento.photoFilename %}
    <img src="{{ asset('uploads/photos/' ~ commento.photoFilename) }}" />
{% endif %}
<h4>{{ commento.author }}</h4>
<small>
    {{ commento.createdAt|format_datetime('medium', 'short') }}
</small>
<p>{{ commento.textComment }}</p>
{% endfor %}
{% if previous >= 0 %}
    <a href="{{ path('cantieri', { jobName: cantieri.jobName, offset: previous}) }}">Precedente</a>
{% endif %}
    {% if next < commenti|length %}
    <a href="{{ path('cantieri', { jobName: cantieri.jobName, offset: next}) }}">Successiva</a>
    {% endif %}
    {% else %}
        <div>Non ci sono suggerimenti per questo Cantiere.</div>
    {% endif %}
    <h2>Aggiungi un tuo commento </h2>
    {{ form(commento_form) }}
{% endblock %}